@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Apply new custom font globally */
body,
input,
button,
h1,
h2,
pre,
footer p {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Utility class */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-gradient {
    border-image: radial-gradient(
      ellipse 200% 100% at bottom left,
      #183ec2,
      #eaeefe 66%
    );
    border-image-slice: 1;
  }
}

.cl-internal-1dauvpw, .cl-internal-1hp5nqm {
  display: none;
}